Body{
    Background: #cccccc
}

h1{
    text-aling: center;
    Color: blue;
    Height: 100px;
    Border: 10px solid black;
    Padding: 20px;
}

p{
    text-aling: center;
}

em strong{
    color: #ff0000;
}

#missão{
    front-size: 20px;
}

#banner{
    width: 100% 
}